body {
    background-color: #ffffff;
    color: #0074D9;
    padding: 20px;
}

.App {
    max-width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.App {
    -webkit-animation: 1s filter-grayscale ease-in-out forwards;
            animation: 1s filter-grayscale ease-in-out forwards;
}

/* Global Element Styles */

button {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    border: none;
    background-color: #ffffff;
    border: 2px solid #0074D9;
    padding: 5px;
    font-size: 20px;
    border-radius: 5%;
    color: #0074D9;
    cursor: pointer;
}
button:hover {
    background-color: #0074D9;
    color: #FFFFFF;
    -webkit-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s;
}
button:active {
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes come-up {
    0% {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@keyframes come-up {
    0% {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
    }
}
@-webkit-keyframes come-from-left {
    0% {
        -webkit-transform: translateX(-50px);
                transform: translateX(-50px);
    }
    100% {
        -webkit-transform: translate(0px);
                transform: translate(0px);
    }
}
@keyframes come-from-left {
    0% {
        -webkit-transform: translateX(-50px);
                transform: translateX(-50px);
    }
    100% {
        -webkit-transform: translate(0px);
                transform: translate(0px);
    }
}
@-webkit-keyframes come-from-right {
    0% {
        -webkit-transform: translateX(50px);
                transform: translateX(50px);
    }
    100% {
        -webkit-transform: translate(0px);
                transform: translate(0px);
    }
}
@keyframes come-from-right {
    0% {
        -webkit-transform: translateX(50px);
                transform: translateX(50px);
    }
    100% {
        -webkit-transform: translate(0px);
                transform: translate(0px);
    }
}
@-webkit-keyframes filter-grayscale {
    0% {
        -webkit-filter: grayscale(200);
                filter: grayscale(200);
    }
    100% {
        -webkit-filter: grayscale(0);
                filter: grayscale(0);
    }
}
@keyframes filter-grayscale {
    0% {
        -webkit-filter: grayscale(200);
                filter: grayscale(200);
    }
    100% {
        -webkit-filter: grayscale(0);
                filter: grayscale(0);
    }
}