.definition-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #0074D9;
    color: #ffffff;
    min-height: 45vh;
    width: 100%;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    /* letter-spacing: 2px; */
}

.definition-container * {
    -webkit-animation: fade-in 0.25s ease-in-out forwards, come-up 0.5s ease-in-out forwards;
            animation: fade-in 0.25s ease-in-out forwards, come-up 0.5s ease-in-out forwards;
}

.definition-container *::first-letter {
    text-transform: capitalize;
}